
<div class='box col-xs-10 col-xs-offset-1 text-center'>

<h1> Pick the League </h1>

<h2 class = 'col-xs-5 col-xs-offset-1'>
  <%= link_to 'NFL', nfl_teams_path, class: 'btn btn-default btn-lg' %>
</h2>

<h2>
  <%= link_to 'NBA', nba_teams_path, class: 'btn btn-default btn-lg' %>
</h2>

</div>
