<div>

<h1 class= 'text-center'> NBA Teams </h1>
<br  />
  <div class='box col-xs-4 col-xs-offset-1'>
    <h3> Atlantic </h3>
      <hr />
      <h5> Boston Celtics </h5>
      <h5> Brooklyn Nets </h5>
      <h5> New York Knicks </h5>
      <h5> Philadelphia 76ers </h5>
      <h5> Toront Raptors </h5>
  </div>

  <div class='box col-xs-4 col-xs-offset-2'>
    <h3> Pacific</h3>
      <hr />
      <h5> Golden Stat Warriors </h5>
      <h5> LA Clippers </h5>
      <h5> Los Angeles Lakers </h5>
      <h5> Phoenix Suns </h5>
      <h5> Sacremento Kings </h5>
  </div>

  <div class='box col-xs-4 col-xs-offset-1'>
    <h3> Central </h3>
      <hr />
      <h5> Chicago Bulls </h5>
      <h5> Cleveland Cavaliers </h5>
      <h5> Detroit Pistons </h5>
      <h5> Indiana Pacers </h5>
      <h5> Milwaukee Bucks </h5>
  </div>

  <div class='box col-xs-4 col-xs-offset-2'>
    <h3> Soutwest </h3>
      <hr />
      <h5> Dallas Mavericks </h5>
      <h5> Houston Rockets </h5>
      <h5> Memphis Grizzlies </h5>
      <h5> New Orleans Pelicans </h5>
      <h5> San Antonio Spurs </h5>
  </div>

  <div class='box col-xs-4 col-xs-offset-1'>
    <h3> Southeast </h3>
      <hr />
      <h5> Atlanta Hawks </h5>
      <h5> Charlotte Hornets </h5>
      <h5> Miami Heat </h5>
      <h5> Orlando Magic </h5>
      <h5> Washington Wizards </h5>
  </div>

  <div class='box col-xs-4 col-xs-offset-2'>
    <h3> Northwest </h3>
      <hr />
      <h5> Denver Nuggets </h5>
      <h5> Minnesota Timberwolves </h5>
      <h5> Oklahoma City Thunder </h5>
      <h5> Portland Trail Blazers </h5>
      <h5> Utah Jazz </h5>
  </div>

</div>
