
<div class='box col-xs-10 col-xs-offset-1'>
<h1 class='text-center'> Your Team Sucks </h1>

<h2 class='text-center'> Site Information </h2>


<h3 class='text-center'>
  <%= link_to 'Get Started', leagues_path, class: 'btn btn-primary' %>
</h3>
</div>
