<h1 class='text-center'> NFL Teams </h1>

<div class='box col-xs-4 col-xs-offset-1'>
  <h3> NFC East </h3>
    <h5> Dallas Cowboys </h5>
    <h5> New York Giants </h5>
    <h5> Philadelphia Eagles </h5>
    <h5> Washington Redskins </h5>
</div>

<div class='box col-xs-4 col-xs-offset-2'>
  <h3> AFC East </h3>
    <h5> Buffalo Bills </h5>
    <h5> Miami Dolphins </h5>
    <h5> New England Patriots </h5>
    <h5> New York Jets </h5>
</div>

<div class='box col-xs-4 col-xs-offset-1'>
  <h3> NFC West </h3>
    <h5> Arizona Cardinals </h5>
    <h5> Los Angeles Rams </h5>
    <h5> San Francisco 49ers </h5>
    <h5> Seattle Seahawks </h5>
</div>

<div class='box col-xs-4 col-xs-offset-2'>
  <h3> AFC West </h3>
    <h5> Denver Broncos </h5>
    <h5> Kansas City Chiefs </h5>
    <h5> Oakland Raiders </h5>
    <h5> San Diego Chargers </h5>
</div>

<div class='box col-xs-4 col-xs-offset-1'>
  <h3> NFC North </h3>
    <h5> Chicago Bears </h5>
    <h5> Detroit Lions </h5>
    <h5> Green Bay Packers </h5>
    <h5> Minnesota Vikings </h5>
</div>

<div class='box col-xs-4 col-xs-offset-2'>
  <h3> AFC North </h3>
    <h5> Baltimore Ravens </h5>
    <h5> Cincinnati Bengals </h5>
    <h5> Cleveland Browns </h5>
    <h5> Pittsburgh Steelers </h5>
</div>

<div class='box col-xs-4 col-xs-offset-1'>
  <h3> NFC South </h3>
    <h5> Atlanta Falcons </h5>
    <h5> Carolina Panthers </h5>
    <h5> New Orleans Saints </h5>
    <h5> Tampa Bay Buccaneers </h5>
</div>

<div class='box col-xs-4 col-xs-offset-2'>
  <h3> AFC South </h3>
    <h5> Houston Texans</h5>
    <h5> Indianapolis Colts </h5>
    <h5> Jacksonville Jaguars </h5>
    <h5> Tennessee Titans </h5>
</div>
